{% extends 'app1/base.html' %}
{% block content %}
    <div class="container-fluid">
        {% load static %}
        <p>Welcome {{ user }}</p>
        <br>

        <label for="select-room">All Groups/Rooms</label>
        <br>
        <select multiple id="select-room">
            {% for room in rooms %}
                <option>{{ room }}</option>
            {% endfor %}
        </select>

        <br><br><br><br>
        <label for="chat-personal">All Users</label>
        <br>
        <select multiple id="chat-personal">
            {% for user_each in users %}
                <option>{{ user_each }}</option>
            {% endfor %}
        </select>
    </div>

    <script src="{% static 'app1/home.js' %}"></script>
{% endblock %}