{% load static %}

<p>Welcome to room {{room.name}}</p>

<br>
<label for='room-name'>Room : {{room.name}}</label>
<br><br>

<div id='past-msg'>
    {% for message in past_messages %}
        {{message.user}} : {{message.content}}
        <br>
    {% endfor %}

</div>

<br id='lb'>
<br>
<textarea id='room-name' readonly>
    
</textarea>
<br><br><br>

<label for="online-users">Online users</label>
<select multiple class="form-control" id="online-users">
</select>

<br><br><br>
<label for='chat-message'>Enter your message here</label>
<input type="text" id='chat-message'>
<br><br>


<button id='send-message'>Send</button>

{{ room.name|json_script:"roomName" }}
        
<script src="{% static 'app1/room.js' %}"></script>

<a href="{% url 'logout' %}">Logout</a>